*{
    margin: 0;
    padding: 0;
}
label{
    color:black;
    position: absolute;
    margin-top: 20px;
    display: block;
    margin-left: 100px;
}
img{
    justify-content: center;
    align-items: center;
    display: block;
    width: 50%;
    height: 150px;
    margin-left: 80px;
    margin-top: 60px;
}

#sidebar{
    position: fixed;
    width: 25%;
    height: 600px;
    background-image: url("https://i.pinimg.com/736x/50/48/ed/5048ed1578ac90366fd369a9b574c539.jpg");
    
}

button{
    display: block;
    margin-top: 50px;
    margin-left: 20px;
    width: 80%;
    border-radius: 20px;
    background:aquamarine;
    color:white;
    padding: 10px;
    text-decoration: none;
}

#container25{
display: flex;
flex-wrap: wrap;
position: fixed;
margin-left: 320px;
height: 600px;
width: 100%;
background-image: url("https://static.vecteezy.com/system/resources/previews/000/626/032/non_2x/soft-geometric-abstract-background-in-light-colors-vector.jpg");

}

.imagen-galeria{
    margin-top: 20px;
    margin-left: 20px;
    width: 250px;
    height: 250px;
}
.imagen4{
    margin-top: 300px;
    margin-left: -810px;
}

.imagen5{
    margin-top: 300px;
}